/* ---------------------------------------

  Toggle button
  
--------------------------------------- */
* {
	outline:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.nav-wrapper .bk-button .open,.nav-wrapper .bk-button .close,.bk-button span {
	-moz-transition:opacity .2s ease;
	-o-transition:opacity .2s ease;
	-webkit-transition:opacity .2s ease;
	transition:opacity .2s ease;
}

.nav-wrapper.has-slide-left .bk-button .open {
	pointer-events:none;
}

@-moz-keyframes open-in {
	0% {
		-moz-transform:scaleX(0);
		transform:scaleX(0);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(1);
		transform:scaleX(1);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@-webkit-keyframes open-in {
	0% {
		-webkit-transform:scaleX(0);
		transform:scaleX(0);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-webkit-transform:scaleX(1);
		transform:scaleX(1);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@keyframes open-in {
	0% {
		-moz-transform:scaleX(0);
		-ms-transform:scaleX(0);
		-webkit-transform:scaleX(0);
		transform:scaleX(0);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(1);
		-ms-transform:scaleX(1);
		-webkit-transform:scaleX(1);
		transform:scaleX(1);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

.nav-wrapper .bk-button .open {
	margin:0;
	padding:23px 20px;
	position:absolute;
	top:0;
	left:0;
	width:86px;
	height:100%;
}

.nav-wrapper .bk-button .open .lines {
/* 	top: 50%; */
	position:relative;
	width:26px;
	height:20px;
}

.nav-wrapper .bk-button .open .line {
	display:block;
	position:absolute;
	left:0;
	width:100%;
	height:2px;
	background:#010101;
	-moz-transform:scaleX(0);
	-ms-transform:scaleX(0);
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	-moz-animation:open-in .3s cubic-bezier(0.18,0.89,0.67,1.16) .3s 1 normal forwards;
	-webkit-animation:open-in .3s cubic-bezier(0.18,0.89,0.67,1.16) .3s 1 normal forwards;
	animation:open-in .3s cubic-bezier(0.18,0.89,0.67,1.16) .3s 1 normal forwards;
}

.nav-wrapper .bk-button .open .line:nth-child(1) {
	top:0;
}

.nav-wrapper .bk-button .open .line:nth-child(2) {
	margin-top:-1px;
	top:50%;
	-moz-animation-delay:.36s;
	-webkit-animation-delay:.36s;
	animation-delay:.36s;
}

.nav-wrapper .bk-button .open .line:nth-child(3) {
	bottom:0;
	-moz-animation-delay:.42s;
	-webkit-animation-delay:.42s;
	animation-delay:.42s;
	-moz-animation-timing-function:cubic-bezier(0.18,0.89,0.63,1.26);
	-webkit-animation-timing-function:cubic-bezier(0.18,0.89,0.63,1.26);
	animation-timing-function:cubic-bezier(0.18,0.89,0.63,1.26);
}

@-moz-keyframes close-out-1 {
	0% {
		-moz-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-moz-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-moz-transform:scaleY(0) translateY(10px);
		transform:scaleY(0) translateY(10px);
		-moz-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

@-webkit-keyframes close-out-1 {
	0% {
		-webkit-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-webkit-transform:scaleY(0) translateY(10px);
		transform:scaleY(0) translateY(10px);
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

@keyframes close-out-1 {
	0% {
		-moz-transform:scaleY(1) translateY(0);
		-ms-transform:scaleY(1) translateY(0);
		-webkit-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-moz-transform-origin:100% 100%;
		-ms-transform-origin:100% 100%;
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-moz-transform:scaleY(0) translateY(10px);
		-ms-transform:scaleY(0) translateY(10px);
		-webkit-transform:scaleY(0) translateY(10px);
		transform:scaleY(0) translateY(10px);
		-moz-transform-origin:100% 100%;
		-ms-transform-origin:100% 100%;
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

@-moz-keyframes close-out-2 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(10px);
		transform:scaleX(0) translateX(10px);
		-moz-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

@-webkit-keyframes close-out-2 {
	0% {
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-webkit-transform:scaleX(0) translateX(10px);
		transform:scaleX(0) translateX(10px);
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

@keyframes close-out-2 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		-ms-transform:scaleX(1) translateX(0);
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:100% 100%;
		-ms-transform-origin:100% 100%;
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(10px);
		-ms-transform:scaleX(0) translateX(10px);
		-webkit-transform:scaleX(0) translateX(10px);
		transform:scaleX(0) translateX(10px);
		-moz-transform-origin:100% 100%;
		-ms-transform-origin:100% 100%;
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%;
	}
}

.nav-wrapper .bk-button .close {
	margin:0;
	padding:20px;
	position:absolute;
	top:0;
	left:0;
	width:86px;
	height:100%;
}

.nav-wrapper .bk-button .close .lines {
/* 	top: 50%; */
	position:relative;
	width:26px;
	height:26px;
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.nav-wrapper .bk-button .close .line {
	display:block;
	position:absolute;
	background:#010101;
}

.nav-wrapper .bk-button .close .line:nth-child(1) {
	margin-left:-1px;
	top:0;
	left:50%;
	width:2px;
	height:100%;
	-moz-animation:close-out-1 .3s linear .1s 1 normal forwards;
	-webkit-animation:close-out-1 .3s linear .1s 1 normal forwards;
	animation:close-out-1 .3s linear .1s 1 normal forwards;
}

.nav-wrapper .bk-button .close .line:nth-child(2) {
	margin-top:-1px;
	top:50%;
	left:0;
	width:100%;
	height:2px;
	-moz-animation:close-out-2 .3s linear .1s 1 normal forwards;
	-webkit-animation:close-out-2 .3s linear .1s 1 normal forwards;
	animation:close-out-2 .3s linear .1s 1 normal forwards;
}

.nav-wrapper .bk-button:hover .open,.nav-wrapper .bk-button:hover .close,.nav-wrapper .bk-button:hover span {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity:.3;
}

@-moz-keyframes open-out-1 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	35% {
		-moz-transform:scaleX(0.9) translateX(-5px);
		transform:scaleX(0.9) translateX(-5px);
		-moz-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(5px);
		transform:scaleX(0) translateX(5px);
		-moz-transform-origin:100% 0;
		transform-origin:100% 0;
	}
}

@-webkit-keyframes open-out-1 {
	0% {
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	35% {
		-webkit-transform:scaleX(0.9) translateX(-5px);
		transform:scaleX(0.9) translateX(-5px);
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	100% {
		-webkit-transform:scaleX(0) translateX(5px);
		transform:scaleX(0) translateX(5px);
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
}

@keyframes open-out-1 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		-ms-transform:scaleX(1) translateX(0);
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:100% 0;
		-ms-transform-origin:100% 0;
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	35% {
		-moz-transform:scaleX(0.9) translateX(-5px);
		-ms-transform:scaleX(0.9) translateX(-5px);
		-webkit-transform:scaleX(0.9) translateX(-5px);
		transform:scaleX(0.9) translateX(-5px);
		-moz-transform-origin:100% 0;
		-ms-transform-origin:100% 0;
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(5px);
		-ms-transform:scaleX(0) translateX(5px);
		-webkit-transform:scaleX(0) translateX(5px);
		transform:scaleX(0) translateX(5px);
		-moz-transform-origin:100% 0;
		-ms-transform-origin:100% 0;
		-webkit-transform-origin:100% 0;
		transform-origin:100% 0;
	}
}

@-moz-keyframes open-out-2 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	35% {
		-moz-transform:scaleX(0.9) translateX(5px);
		transform:scaleX(0.9) translateX(5px);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(-5px);
		transform:scaleX(0) translateX(-5px);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@-webkit-keyframes open-out-2 {
	0% {
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	35% {
		-webkit-transform:scaleX(0.9) translateX(5px);
		transform:scaleX(0.9) translateX(5px);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-webkit-transform:scaleX(0) translateX(-5px);
		transform:scaleX(0) translateX(-5px);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@keyframes open-out-2 {
	0% {
		-moz-transform:scaleX(1) translateX(0);
		-ms-transform:scaleX(1) translateX(0);
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	35% {
		-moz-transform:scaleX(0.9) translateX(5px);
		-ms-transform:scaleX(0.9) translateX(5px);
		-webkit-transform:scaleX(0.9) translateX(5px);
		transform:scaleX(0.9) translateX(5px);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(0) translateX(-5px);
		-ms-transform:scaleX(0) translateX(-5px);
		-webkit-transform:scaleX(0) translateX(-5px);
		transform:scaleX(0) translateX(-5px);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

.nav-wrapper.has-slide-left .bk-button .open .line {
	-moz-animation:open-out-1 .4s linear .1s 1 normal forwards;
	-webkit-animation:open-out-1 .4s linear .1s 1 normal forwards;
	animation:open-out-1 .4s linear .1s 1 normal forwards;
	-moz-transform:scaleX(1) translateX(0);
	-ms-transform:scaleX(1) translateX(0);
	-webkit-transform:scaleX(1) translateX(0);
	transform:scaleX(1) translateX(0);
}

.nav-wrapper.has-slide-left .bk-button .open .line:nth-child(1) {
	-moz-animation-delay:.16s;
	-webkit-animation-delay:.16s;
	animation-delay:.16s;
}

.nav-wrapper.has-slide-left .bk-button .open .line:nth-child(2) {
	-moz-animation-delay:.08s;
	-webkit-animation-delay:.08s;
	animation-delay:.08s;
	-moz-animation-name:open-out-2;
	-webkit-animation-name:open-out-2;
	animation-name:open-out-2;
}

.nav-wrapper.has-slide-left .bk-button .open .line:nth-child(3) {
	-moz-animation-delay:0;
	-webkit-animation-delay:0;
	animation-delay:0;
	-moz-animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}

@-moz-keyframes close-in-1 {
	0% {
		-moz-transform:scaleY(0) translateY(-10px);
		transform:scaleY(0) translateY(-10px);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@-webkit-keyframes close-in-1 {
	0% {
		-webkit-transform:scaleY(0) translateY(-10px);
		transform:scaleY(0) translateY(-10px);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-webkit-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@keyframes close-in-1 {
	0% {
		-moz-transform:scaleY(0) translateY(-10px);
		-ms-transform:scaleY(0) translateY(-10px);
		-webkit-transform:scaleY(0) translateY(-10px);
		transform:scaleY(0) translateY(-10px);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleY(1) translateY(0);
		-ms-transform:scaleY(1) translateY(0);
		-webkit-transform:scaleY(1) translateY(0);
		transform:scaleY(1) translateY(0);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@-moz-keyframes close-in-2 {
	0% {
		-moz-transform:scaleX(0) translateX(-10px);
		transform:scaleX(0) translateX(-10px);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@-webkit-keyframes close-in-2 {
	0% {
		-webkit-transform:scaleX(0) translateX(-10px);
		transform:scaleX(0) translateX(-10px);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

@keyframes close-in-2 {
	0% {
		-moz-transform:scaleX(0) translateX(-10px);
		-ms-transform:scaleX(0) translateX(-10px);
		-webkit-transform:scaleX(0) translateX(-10px);
		transform:scaleX(0) translateX(-10px);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
	
	100% {
		-moz-transform:scaleX(1) translateX(0);
		-ms-transform:scaleX(1) translateX(0);
		-webkit-transform:scaleX(1) translateX(0);
		transform:scaleX(1) translateX(0);
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

.nav-wrapper.has-slide-left .bk-button .close .line:nth-child(1) {
	-moz-animation:close-in-1 .3s cubic-bezier(0.18,0.89,0.67,1.16) .6s 1 normal forwards;
	-webkit-animation:close-in-1 .3s cubic-bezier(0.18,0.89,0.67,1.16) .6s 1 normal forwards;
	animation:close-in-1 .3s cubic-bezier(0.18,0.89,0.67,1.16) .6s 1 normal forwards;
	-moz-transform:scaleY(0);
	-ms-transform:scaleY(0);
	-webkit-transform:scaleY(0);
	transform:scaleY(0);
}

.nav-wrapper.has-slide-left .bk-button .close .line:nth-child(2) {
	-moz-animation:close-in-2 .3s cubic-bezier(0.18,0.89,0.67,1.16) .5s 1 normal forwards;
	-webkit-animation:close-in-2 .3s cubic-bezier(0.18,0.89,0.67,1.16) .5s 1 normal forwards;
	animation:close-in-2 .3s cubic-bezier(0.18,0.89,0.67,1.16) .5s 1 normal forwards;
	-moz-transform:scaleX(0);
	-ms-transform:scaleX(0);
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
}

/* ---------------------------------------

  WRAPPER OBJECT
  
--------------------------------------- */
.nav-wrapper {
	padding:50px 50px 50px 100px;
	-webkit-transition:-webkit-transform .3s;
	transition:transform .3s;
}

/* ---------------------------------------

  CONTAINER OBJECTS
  
--------------------------------------- */
.nav-container {
	margin:0 auto;
	padding:0 12px;
	max-width:960px;
}

@media all and (min-width: 480px) {
	.nav-container {
		padding:0 24px;
	}
}

@media all and (min-width: 720px) {
	.nav-container {
		padding:0 48px;
	}
}

/* ---------------------------------------

  HEADER OBJECT
  
--------------------------------------- */
.nav-header {
	margin:0;
	padding:0;
}

.nav-header-nav {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	background-color:#6f6f6f;
}

.nav-header-nav_link {
	padding:12px;
	color:#6f6f6f;
}

.nav-header-nav_link:hover {
	color:#6f6f6f;
	background-color:#3184a1;
}

.nav-header_title {
	margin:24px;
	padding:0;
	color:#818181;
	font-size:28px;
	font-weight:300;
	text-align:center;
}

@media all and (min-width: 480px) {
	.nav-header_title {
		margin:36px;
		font-size:42px;
	}
}

/* ---------------------------------------

  SUB-NAVIGATION OBJECT
  
--------------------------------------- */
.nav-sub-nav {
	margin:0 0 24px;
	padding:0;
}

.nav-sub-nav_items {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	list-style:none;
	margin:0;
	padding:0;
}

.nav-sub-nav_item {
	margin:0;
	padding:4px;
}

.nav-sub-nav_link {
	display:block;
	margin:0;
	padding:4px 24px;
	border:solid 2px #67b5d1;
}

.nav-sub-nav_link:hover,.nav-sub-nav_item.active .nav-sub-nav_link {
	color:#6f6f6f;
	background-color:#6f6f6f;
}

@media all and (min-width: 720px) {
	.nav-sub-nav {
		margin:0 0 48px;
	}
}

/* ---------------------------------------

  FOOTER OBJECT
  
--------------------------------------- */
.nav-footer {
	padding:12px 0;
	text-align:center;
}

@media all and (min-width: 480px) {
	.nav-footer {
		padding:24px 0;
	}
}

@media all and (min-width: 720px) {
	.nav-footer {
		padding:48px 0;
	}
}

/* ---------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
--------------------------------------- */
/**
 * Menu overview.
 */
.bk-menu {
	position:fixed;
	background-color:#fff;
	-webkit-transition:-webkit-transform .3s;
	transition:transform .3s;
}

#bk-menu-slide-left {
	z-index:206;
}

#bk-menu-slide-right {
	z-index:208;
}

.bk-menu_items {
	list-style:none;
	margin:0;
	padding:0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
.bk-menu-slide-left,.bk-menu-slide-right,.bk-menu-push-left,.bk-menu-push-right {
	width:100%;
	height:100%;
	overflow-y:scroll;
}

@media all and (min-width: 320px) {
	.bk-menu-slide-left,.bk-menu-slide-right,.bk-menu-push-left,.bk-menu-push-right {
		width:600px;
	}
}

.bk-menu-slide-left .bk-menu_item,.bk-menu-slide-right .bk-menu_item,.bk-menu-push-left .bk-menu_item,.bk-menu-push-right .bk-menu_item {
	display:block;
	text-align:center;
}

.bk-menu-slide-left .bk-menu_item:first-child,.bk-menu-slide-right .bk-menu_item:first-child,.bk-menu-push-left .bk-menu_item:first-child,.bk-menu-push-right .bk-menu_item:first-child {
	border-top:none;
}

.bk-menu-slide-left .bk-menu_item:last-child,.bk-menu-slide-right .bk-menu_item:last-child,.bk-menu-push-left .bk-menu_item:last-child,.bk-menu-push-right .bk-menu_item:last-child {
	border-bottom:none;
}

.bk-menu-slide-left .bk-menu_link,.bk-menu-slide-right .bk-menu_link,.bk-menu-push-left .bk-menu_link,.bk-menu-push-right .bk-menu_link {
	display:block;
	padding:12px 24px;
	color:#6f6f6f;
}

.bk-menu-slide-left .bk-menu_close,.bk-menu-slide-right .bk-menu_close,.bk-menu-push-left .bk-menu_close,.bk-menu-push-right .bk-menu_close {
	display:block;
	padding:12px 24px;
	width:100%;
}

/**
 * Slide/Push Menu Left.
 */
.bk-menu-slide-left,.bk-menu-push-left {
	top:0;
	left:0;
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%);
}

@media all and (min-width: 320px) {
	.bk-menu-slide-left,.bk-menu-push-left {
		-webkit-transform:translateX(-533px);
		-ms-transform:translateX(-533px);
		transform:translateX(-533px);
	}
}

.bk-menu-slide-left.is-active,.bk-menu-push-left.is-active {
	-webkit-transform:translateX(67px);
	-ms-transform:translateX(67px);
	transform:translateX(67px);
}

#bk-button-slide-left {
	position:fixed;
	top:0;
	left:0;
	width:67px;
	height:100%;
	background:#fff;
	border-right:1px solid #cfcfcf;
	cursor:pointer;
	z-index:207;
	outline:none;
}

/**
 * Slide/Push Menu Right.
 */
.bk-menu-slide-right,.bk-menu-push-right {
	top:0;
	right:0;
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
}

@media all and (min-width: 320px) {
	.bk-menu-slide-right,.bk-menu-push-right {
		-webkit-transform:translateX(600px);
		-ms-transform:translateX(600px);
		transform:translateX(600px);
	}
}

.bk-menu-slide-right.is-active,.bk-menu-push-right.is-active {
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
}

/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */
.bk-menu-slide-top,.bk-menu-slide-bottom,.bk-menu-push-top,.bk-menu-push-bottom {
	vertical-align:middle;
	width:100%;
	height:60px;
	text-align:center;
	overflow-x:scroll;
}

.bk-menu-slide-top .bk-menu_items,.bk-menu-slide-bottom .bk-menu_items,.bk-menu-push-top .bk-menu_items,.bk-menu-push-bottom .bk-menu_items {
	display:inline-block;
	text-align:center;
}

.bk-menu-slide-top .bk-menu_item,.bk-menu-slide-bottom .bk-menu_item,.bk-menu-push-top .bk-menu_item,.bk-menu-push-bottom .bk-menu_item {
	display:inline-block;
	line-height:60px;
}

.bk-menu-slide-top .bk-menu_link,.bk-menu-slide-bottom .bk-menu_link,.bk-menu-push-top .bk-menu_link,.bk-menu-push-bottom .bk-menu_link {
	display:block;
	padding:0 4px;
	color:#6f6f6f;
}

.bk-menu-slide-top .bk-menu_close,.bk-menu-slide-bottom .bk-menu_close,.bk-menu-push-top .bk-menu_close,.bk-menu-push-bottom .bk-menu_close {
	display:inline-block;
	margin-right:12px;
	padding:0 24px;
	height:60px;
	line-height:60px;
}

/**
 * Slide/Push Menu Top.
 */
.bk-menu-slide-top,.bk-menu-push-top {
	top:0;
	left:0;
	-webkit-transform:translateY(-60px);
	-ms-transform:translateY(-60px);
	transform:translateY(-60px);
}

.bk-menu-slide-top.is-active,.bk-menu-push-top.is-active {
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

/**
 * Slide/Push Menu Bottom.
 */
.bk-menu-slide-bottom,.bk-menu-push-bottom {
	bottom:0;
	left:0;
	-webkit-transform:translateY(60px);
	-ms-transform:translateY(60px);
	transform:translateY(60px);
}

.bk-menu-slide-bottom.is-active,.bk-menu-push-bottom.is-active {
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
.nav-wrapper.has-push-left {
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
}

@media all and (min-width: 320px) {
	.nav-wrapper.has-push-left {
		-webkit-transform:translateX(600px);
		-ms-transform:translateX(600px);
		transform:translateX(600px);
	}
}

.nav-wrapper.has-push-right {
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%);
}

@media all and (min-width: 320px) {
	.nav-wrapper.has-push-right {
		-webkit-transform:translateX(-533px);
		-ms-transform:translateX(-533px);
		transform:translateX(-533px);
	}
}

.nav-wrapper.has-push-top {
	-webkit-transform:translateY(60px);
	-ms-transform:translateY(60px);
	transform:translateY(60px);
}

.nav-wrapper.has-push-bottom {
	-webkit-transform:translateY(-60px);
	-ms-transform:translateY(-60px);
	transform:translateY(-60px);
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
	overflow:hidden;
}

/**
 * Close button resets.
 */
.bk-menu_close {
	color:#6f6f6f;
	background-color:#fff;
	font-size:14px;
	border:none;
	box-shadow:none;
	border-radius:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.bk-menu_close:focus {
	outline:none;
}

/* ---------------------------------------

  MASK COMPONENT
  
--------------------------------------- */
.bk-mask {
	position:fixed;
	top:0;
	left:0;
	overflow:hidden;
	width:0;
	height:0;
	background-color:rgba(165,165,165,0.6);
	opacity:0;
	-webkit-transition:opacity 0.3s,width 0 0.3s,height 0 .3s;
	transition:opacity 0.3s,width 0 0.3s,height 0 .3s;
}

#bk-mask-left {
	z-index:203;
}

#bk-mask-right {
	z-index:207;
}

.bk-mask.is-active {
	width:100%;
	height:100%;
	opacity:.7;
	-webkit-transition:opacity .3s;
	transition:opacity .3s;
}